body.form-page {
  background: url('img/flame-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Verdana', sans-serif;
  color: white;
  text-align: center;
}

form {
  width: 600px;
  margin: 30px auto;
  background-color: rgba(45, 118, 228, 0.822);
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

fieldset.ucet {
  border: 2px solid black;
  background-color: rgba(52, 19, 235, 0.2);
  margin-top: 15px;
}

.info-page {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 50px;
}

a {
  color: #ffcc00;
}
